* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  min-height: 2000px;
  padding-top: 130px;
}

#mrcgo-nav-container {
  box-shadow: 0 4px 2px -2px grey;
}

/* START CSS FOR SUB MENU DROPDOWN */
.megasubmenu {
  padding: 1rem;
}

.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
  width: 560px;
}

.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}

.dropdown-menu .dropdown-submenu li {
  float: left;
  min-width: 180px;
}

.dropdown-menu .dropdown-submenu li a {
  width: 100%;
  display: block;
  padding: 5px 10px;
}

.dropdown-menu>li:hover>.dropdown-submenu {
  display: block;
}

ul.sub-menu-list {
  display: inline-block;
  width: 180px;
  margin: 0px;
  padding: 0px;
}

ul.sub-menu-list li {
  list-style-type: none;
}

/* END CSS FOR SUB MENU DROPDOWN */
.desktop-bar {
  width: 100%;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.mrcgo-logo-desktop {
  background-image: url(../images/mrcgo-logo.png);
  background-repeat: no-repeat;
  width: 100%;
  max-width: 225px;
  background-size: 90%;
  background-position: center;
}

.mrcgo-logo-mobile {
  background-image: url(../images/mrcgo-logo.png);
  background-repeat: no-repeat;
  width: 100%;
  max-width: 190px;
  background-size: 90%;
  background-position: center;
}

#top-search-icon {
  color: #fff;
  background-color: #828081;
}

.top-icons-container {
  padding-right: 45px;
  float: right;
}

#location-selector {
  display: block;
  float: left;
  margin-right: 15px;
}

#location-selector button {
  border-radius: 0px;
  border: 0px;
}

#location-selector button,
#location-selector button:active,
#location-selector button:hover,
#location-selector button:focus {
  background-image: url(../images/icons/us.png);
  background-repeat: no-repeat;
  background-position: left;
}

#location-selector .header {
  font-size: 12px;
  color: #000;
  text-align: left;
  font-weight: 900;
  padding: 10px 15px;
}

#location-selector .header button,
#location-selector .header button:active,
#location-selector .header button:hover,
#location-selector .header button:focus {
  background-image: none;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #999;
}

#location-selector a {
  font-size: 11px;
  color: #000;
  text-align: center;
  width: 50%;
  display: block;
  float: left;
  margin-bottom: 15px;
}

#location-selector a img {
  display: block;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

#location-selector .dropdown-menu {
  left: -126px;
  top: 35px;
  width: 290px;
  padding: 15px 0px;
}

#location-selector .dropdown-menu:before {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  transform: rotate(45deg);
  content: '';
  background-color: inherit;
  left: 50%;
  top: -0.9rem;
  margin-left: -0.5rem;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
}

.flag-english-us-icon {
  background-image: url(../images/icons/us.png);
  background-repeat: no-repeat;
  background-position: left;
  width: 40px;
  height: 22px;
  display: block;
  float: left;
  margin-right: 15px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.shopping-cart-icon {
  background-image: url(../images/icons/cart-icon.png);
  background-repeat: no-repeat;
  background-position: left;
  width: 30px;
  height: 22px;
  display: block;
  float: left;
  margin-right: 15px;
  background-size: 29px;
}

.login-icon {
  background-image: url(../images/icons/user-icon.png);
  background-repeat: no-repeat;
  background-position: left;
  width: 40px;
  height: 22px;
  display: block;
  float: left;
  margin-right: 15px;
  background-size: 29px;
  padding-left: 30px;
  color: #666;
  font-size: 14px;
}

.request-quote-nav-cta {
  margin-top: 10px;
  margin-right: 25px;
}

/* START CUSTOM SPACING OPTIONS */
.padding-top-5 {
  padding-top: 5px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-15 {
  padding-top: 15px;
}

/* END CUSTOM SPACING OPTIONS */

/* START LOGIN MODAL STYLES */
#loginModal .input-group {
  width: 100%;
}

#loginModal .input-group {
  margin-bottom: 10px;
}

#loginModal .glyphicon {
  font-size: 14px;
  color: #666;
}

#loginModal span.input-group-addon {
  background-color: transparent;
  border-right: 0px;
  position: absolute;
  z-index: 99999;
  border: 0px;
}

#loginModal input.form-control {
  font-size: 16px;
  width: 100%;
  padding-left: 40px;
  box-shadow: none;
  border-radius: 8px;
}

#loginModal .btn-primary {
  width: 100%;
  height: 45px;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
}

#loginModal .forgot-password-link {
  margin-top: 10px;
  margin-left: 20px;
  float: left;
  display: block;
}

#loginModal hr {
  background-color: #000;
  height: 1px;
  border: 0px;
}

#loginModal .single-sign-in-text {
  font-size: 14px;
  font-weight: 900;
  background-color: #fff;
  max-width: 200px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -30px;
}

#loginModal .ms-signin {
  width: 100%;
  max-width: 215px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#loginModal .register-link {
  font-size: 14px;
  font-weight: 600;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* END LOGIN MODAL STYLES */

/* START BANNER/VIDEO STYLES */
#mrcgo-banner {
  position: relative;
  display: block;
  width: 100%;
  height: 350px;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 20px;
}

#mrcgo-banner #message-container {
  position: absolute;
  max-width: 700px;
  height: auto;
  z-index: 1000;
  color: #fff;
  top: 75px;
  left: 50px;
}

#mrcgo-banner #headline {
  font-size: 34px;
  text-shadow: 2px 2px 8px rgb(0 0 0 / 75%);
  font-weight: 900;
  padding-bottom: 15px;
}

#mrcgo-banner #headline:after {
  content: "";
  background-color: #CD2028;
  display: block;
  max-width: 155px;
  height: 7px;
}

#mrcgo-banner #sub-text {
  font-size: 16px;
  text-shadow: 2px 2px 8px rgb(0 0 0 / 75%);
}

#video-player-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 999;
  opacity: 0.5;
}

#mrcgo-banner video {
  width: 100% !important;
  min-width: 1200px;
  height: auto !important;
  background-color: #fff;
  position: absolute;
  top: -20%;
}

/* END BANNER/VIDEO STYLES */

/* START PRODUCTS/SECTORS HOME SECTION */
#products-and-sectors-container .thumbnail {
  border-radius: 0px;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 25%);
  overflow: hidden;
}

.thumbnail-label {
  text-align: center;
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #635F60;
  margin-left: -5px;
  margin-right: -5px;
  background-color: #EBEBEB;
  min-height: 60px;
  padding: 5px 10px;
  margin-bottom: -5px;
  margin-top: 15px;
}

.thumbnail-label.single {
  line-height: 3em;
  /* middle display for single labels */
}

.headline-content-area {
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 15px;
  text-align: center;
  color: #635F60;
  margin-top: 35px;
  margin-bottom: 25px;
}

.headline-content-area:after {
  content: "";
  background-color: #CD2028;
  display: block;
  max-width: 125px;
  height: 7px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.thumbnail-label-sectors {
  text-align: center;
  text-shadow: 2px 2px 8px rgb(0 0 0 / 75%);
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #FFF;
  min-height: 60px;
  margin-bottom: -5px;
  position: absolute;
  width: auto;
  top: 10px;
  z-index: 1000;
  left: 30px;
  right: 30px;
}

.thumbnail-label-sectors.single {
  line-height: 3em;
  /* middle display for single labels */
}

.thumbnail-sector-overlay {
  position: absolute;
  top: 5px;
  left: 20px;
  right: 20px;
  width: auto;
  height: 60px;
  background-color: #000;
  z-index: 999;
  opacity: 0.5;
  display: block;
}

/* END PRODUCTS/SECTORS HOME SECTION */

/* START FOOTER BANNER/VIDEO STYLES */
#footer-video-container {
  position: relative;
  color: #fff;
  overflow: hidden;
  height: 600px;
  margin-top: 50px;
}

#footer-video-container #footer-message-container {
  position: absolute;
  height: auto;
  z-index: 1000;
  color: #fff;
  top: 75px;
  width: 100%;
  text-align: center;
}

#footer-video-message {
  font-size: 34px;
  text-shadow: 2px 2px 8px rgb(0 0 0 / 75%);
  font-weight: 900;
  padding-bottom: 15px;
  text-transform: uppercase;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#footer-video-message:after {
  content: "";
  background-color: #CD2028;
  display: block;
  max-width: 155px;
  height: 7px;
  margin-left: 220px;
}

button#play-footer-video-modal {
  background-color: transparent;
  border: 0px;
  font-size: 66px;
  text-shadow: 2px 2px 8px rgb(0 0 0 / 75%);
  margin-top: 10px;
  opacity: 0.6;
  color: #fff;
}

button#play-footer-video-modal:hover {
  opacity: 1.0;
}

button#play-footer-video-modal:focus {
  border: 0px;
  outline: transparent;
}

#footer-background-image {
  width: 100%;
  height: auto;
  ;
}

#footer-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 999;
  opacity: 0.5;
}

#footerVideoModal video {
  width: 100% !important;
  height: auto !important;
}

/* END FOOTER BANNER/VIDEO STYLES */

/* START FOOTER STYLES */
#mrcgo-footer {
  min-height: 400px;
  background-color: rgb(51, 55, 64);
  color: #fff;
  padding: 5em 2em;
  font-size: 14px;
}

#mrcgo-footer h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0px;
}

#mrcgo-footer #footer-logo {
  width: 100%;
  max-width: 180px;
}

#mrcgo-footer #slogan {
  font-style: italic;
}

#mrcgo-footer #address span {
  display: block;
}

#mrcgo-footer #support-links {
  padding-left: 0px;
  line-height: 2em;
}

#mrcgo-footer #support-links li {
  list-style: none;
}

#mrcgo-footer #support-links li a {
  color: #AFD2DF;
}

#mrcgo-footer .social-icons {
  padding-left: 30px;
}

#mrcgo-footer .social-icons li {
  list-style: none;
  padding-bottom: 10px;
}

#mrcgo-footer .social-icons li a img {
  width: 35px;
  height: 35px;
  display: block;
}

#mrcgo-footer .change-location-section {
  padding-left: 0px;
  display: inline-block;
}

#mrcgo-footer .change-location-section li {
  list-style: none;
  padding-right: 15px;
  padding-bottom: 15px;
  float: left;
}

#mrcgo-footer .change-location-section li a img {
  width: 100%;
  max-width: 40px;
  height: auto;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

#mrcgo-footer .last-col {
  padding-right: 0px;
  padding-left: 0px;
}

#mrcgo-footer .copyright-info {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  font-size: 12px;
  border-top: 1px solid #635F60;
  margin-top: 25px;
}

#mrcgo-footer .copyright-info a {
  color: #AFD2DF;
  font-size: 10px;
}

/* END FOOTER STYLES */

/******** START MOBILE CSS MEDIA QUERIES ********/

@media (max-width: 1024px) {

  #footer-video-message {
    font-size: 28px;
  }

}

@media (max-width: 767px) {
  body {
    padding-top: 50px;
  }

  .desktop-bar {
    display: none;
  }

  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    background-color: #fff;
  }

  .top-icons-container {
    float: left;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .request-quote-nav-cta {
    margin-top: 0px;
    margin-bottom: 15px;
    margin-right: 0px;
    width: 100%;
  }

  #mrcgo-footer .social-icons {
    padding-left: 0px;
  }

  #mrcgo-footer .social-icons li {
    display: inline-block;
  }

  #mrcgo-footer .social-icons li a img {

    float: left;
  }

  .container-fluid>.navbar-header {
    border-bottom: 1px solid #AAAAAA;
  }

  .request-quote-mobile {
    margin: 0px;
  }

  .dropdown-menu li {
    padding: 5px 0px;
  }


  #mrcgo-footer .col-xs-6 {
    margin-bottom: 20px;
    padding-top: 20px;
  }

  #mrcgo-footer .copyright-info {
    padding-top: 30px;
    border-top: 1px solid #666;
    font-size: 10px;
  }

}

@media (max-width: 768px) {

  /* CSS TO FIX BANNER ISSUE */
  #mrcgo-banner {
    height: 275px;
  }

  #mrcgo-banner #message-container {
    max-width: 430px;
  }

  #mrcgo-banner #headline {
    font-size: 24px;
  }

  #mrcgo-banner #sub-text {
    font-size: 14px;
  }

  #mrcgo-banner video {
    width: 750px !important;
    left: -30%;
    top: -30%;
  }

  /* START CONTENT AREA STYLES */
  .headline-content-area {
    font-size: 22px;

  }

  .headline-content-area:after {
    max-width: 125px;
  }

  .thumbnail-label {
    font-size: 12px;
    padding-top: 10px;
  }

  .thumbnail-label.single {
    line-height: 1.5em;
    padding-top: 15px;
  }

  .thumbnail-label-sectors {
    font-size: 12px;
    left: 20px;
    right: 25px;
    padding-top: 5px;
  }

  .thumbnail-label-sectors.single {
    line-height: 1.5em;
    padding-top: 15px;
  }

  /* END CONTENT AREA STYLES */

  #footer-video-container {
    height: 340px;
  }

  #footer-video-container #footer-message-container {
    top: 4em;
  }

  #footer-video-message {
    font-size: 18px;
    max-width: 375px;
    padding-bottom: 0px;
  }

  #footer-video-message:after {
    max-width: 95px;
    margin-left: 140px;

  }

  button#play-footer-video-modal {
    font-size: 46px;
  }

}

@media (min-width: 768px) {
  .mrcgo-logo-mobile {
    display: none;
  }

  .mobile-view-items {
    display: none;
  }

}

@media (max-width: 426px) {

  /* Overlay for mobile menu */
  #navbar:after {
    display: block;
    background-color: #000;
    position: absolute;
    bottom: -190px;
    z-index: -1;
    height: 100%;
    width: 100%;
    opacity: 0.6;
    left: 0px;
  }

  #mrcgo-banner #message-container {
    max-width: 310px;
    top: 20%;
    left: 10%;
  }

  #mrcgo-banner video {
    left: -60%;
    top: -30%;
  }

  /* START CONTENT AREA STYLES */
  .headline-content-area {
    font-size: 20px;
    margin-top: 15px;
  }

  .headline-content-area:after {
    max-width: 105px;
  }

  .thumbnail-label {
    font-size: 12px;
    padding-top: 10px;
  }

  .thumbnail-label.single {
    line-height: 1.5em;
    padding-top: 20px;
  }

  .thumbnail-label-sectors {
    font-size: 12px;
    padding-top: 5px;
    left: 20px;
    right: 20px;
  }

  .thumbnail-label-sectors.single {
    line-height: 1.5em;
    padding-top: 15px;
  }

  /* END CONTENT AREA STYLES */

  #footer-video-container {
    height: 300px;
  }

  #footer-video-container #footer-message-container {
    top: 2.5em;
  }

  #footer-video-message {
    font-size: 16px;
    max-width: 175px;
  }

  #footer-video-message:after {
    max-width: 75px;
    margin-left: 50px;

  }

  button#play-footer-video-modal {
    font-size: 35px;
    margin-top: 10px;
  }

  #mrcgo-footer {

    padding: 3em 2em;
  }

  #mrcgo-footer .col-sm-3 {
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid #666;
    padding-bottom: 15px;
  }

  #mrcgo-footer .last-col {

    padding-left: 15px;
  }

  #mrcgo-footer .social-icons {
    padding-left: 0px;
  }

  #mrcgo-footer .social-icons li {
    display: inline-block;
  }

  #mrcgo-footer .social-icons li a img {

    float: left;
  }

  #mrcgo-footer .copyright-info {

    padding-top: 0px;
    border: 0px;

  }

}

@media (max-width: 376px) {

  /* START CONTENT AREA STYLES */
  .thumbnail-label {
    padding-top: 15px;
  }

  .thumbnail-label.single {
    padding-top: 15px;
  }

  .thumbnail-label-sectors {
    right: 23px;
  }

  /* END CONTENT AREA STYLES */
}



@media (max-width: 320px) {

  #mrcgo-banner #message-container {
    max-width: 250px;
  }

  /* START CONTENT AREA STYLES */
  .thumbnail-label-sectors {
    padding-top: 0px;
  }

  .thumbnail-label-sectors.single {
    line-height: 1.3em;
    padding-top: 14px;
  }

  /* END CONTENT AREA STYLES */
  #footer-video-container {
    height: 260px;
  }
}

/******** END MOBILE CSS MEDIA QUERIES ********/