* {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  padding-top: 130px;
}
/* START MRCGO ALER STYLES */
body#mrcgo-alert-on {
  padding-top: 165px;
}
.mrcgo-alert
{
  display: none;
}
#mrcgo-alert-on .mrcgo-alert
{
  position: relative;
  float: left;
  width: 100%;
  height: 35px;
  background-color: #2D5F71;
  display: block;
}
.mrcgo-alert .container
{
  display: block;
  max-width: 100%;
  height: 35px;
}
.mrcgo-alert .carousel-caption
{
  padding: 0px;
  left: 2%;
  right: 2%;
  padding-top: 3px;
}
.mrcgo-alert .carousel-caption .carousel-content
{
  height: auto;
}
.mrcgo-alert .carousel-control .glyphicon-chevron-right,
.mrcgo-alert .carousel-control .glyphicon-chevron-left
{
  font-size: 16px;
}
.mrcgo-alert .carousel-control.right,
.mrcgo-alert .carousel-control.left
{
  background-image: none;
  background-color: transparent;
}
/* END MRCGO ALER STYLES */

#mrcgo-nav-container {
  box-shadow: 0 4px 2px -2px grey;
}

/* START CSS FOR SUB MENU DROPDOWN */

.megasubmenu {
  padding: 1rem;
}

.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: -7px;
  width: 560px;
}

.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}

.dropdown-menu .dropdown-submenu li {
  float: left;
  min-width: 180px;
}

.dropdown-menu .dropdown-submenu li a {
  width: 100%;
  display: block;
  padding: 5px 10px;
}

.dropdown-menu>li:hover>.dropdown-submenu {
  display: block;
}

ul.sub-menu-list {
  display: inline-block;
  width: 180px;
  margin: 0px;
  padding: 0px;
}

ul.sub-menu-list li {
  list-style-type: none;
}
/* START CSS FOR LOGGED IN NAV ITEMS */
#logged-in-nav .logged-in-customer {
  display: block;
  width: 100%;
  float: right;
}
#logged-in-nav .top-icons-container
{
  padding-right: 0px;
  padding-left: 5%;
  float: right;
}
.customer-shopping-cart
{
  width: 50%;
  float: left;
  display: block;
}
.customer-shopping-cart a span
{
 color:#635F60;
 display: block;
 float: left;
 width: 100%;
}
.customer-shopping-cart a span.bold
{
  font-weight: 600;
}
.customer-shopping-cart .shopping-cart-icon-logged-in
{
  width: 100%;
  padding-left: 40px;
  background-image: url(../images/icons/cart-icon.png);
  background-repeat: no-repeat;
  background-position: left;
  height: 22px;
  display: block;
  float: left;
  margin-right: 15px;
  background-size: 29px;
}
.customer-information
{
  width: 50%;
  float: left;
  display: block;
}
.customer-information a span
{
  color: #635F60;
  display: block;
  float: left;
  width: 100%;
}
.customer-information a span.bold
{
  font-weight: 600;
}
.customer-information .login-icon-logged-in
{
  width: 100%;
  padding-left: 40px;
  background-image: url(../images/icons/user-icon.png);
  background-repeat: no-repeat;
  background-position: left;
  height: 22px;
  display: block;
  float: left;
  margin-right: 15px;
  background-size: 29px;

  color: #666;
  font-size: 14px;
}
.logout-icon
{
  width: 100%;
  display: block;
  padding-left: 40px;
}
.customer-branch
{
  width: 100%;
  float: left;
  display: block;
}
.customer-branch a span
{
  color: #635F60;
  display: block;
  font-weight: 600;
  text-align: center;
}
/* END CSS FOR LOGGED IN NAV ITEMS */

/* START LOGGED IN STYLES */
body.logged-in 
{
  padding-top: 175px;
}
.panel-icon
{
  color: #2D5F71;
  margin-right: 2px;
}
.ui-tabs .ui-tabs-nav li.ui-tabs-active:first-child,
.ui-tabs .ui-tabs-nav li.ui-tabs:first-child
{
  border-left: 1px solid #FFF;
}
body.logged-in #mrcgo-footer
{
margin-top: 45px;
}
body.logged-in .panel-body
{
  min-height: 100px;
}
.list-group-item .chevron-right
{
  float: right;
  color: #AAAAAA;
}
#user-pie-chart {
  height: 300px;
  min-width: 200px;
  max-width: 300px;
}
.highcharts-figure,
.highcharts-data-table table {
    min-width: 300px;
    max-width: 320px;
    margin: 1em auto;
}

.highcharts-data-table table {
    font-family: Verdana, sans-serif;
    border-collapse: collapse;
    border: 1px solid #ebebeb;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    max-width: 500px;
}

.highcharts-data-table caption {
    padding: 1em 0;
    font-size: 1.2em;
    color: #555;
}

.highcharts-data-table th {
    font-weight: 600;
    padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
    padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
    background: #f8f8f8;
}

.highcharts-data-table tr:hover {
    background: #f1f7ff;
}

/* END LOGGED IN STYLES */

.desktop-bar {
  width: 100%;
  background-color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  float: left;
}

.mrcgo-logo-desktop {
  background-image: url(../images/mrcgo-logo.png);
  background-repeat: no-repeat;
  width: 100%;
  max-width: 225px;
  background-size: 90%;
  background-position: center;
}

.mrcgo-logo-mobile {
  background-image: url(../images/mrcgo-logo.png);
  background-repeat: no-repeat;
  width: 100%;
  max-width: 190px;
  background-size: 90%;
  background-position: center;
}

.search-toggle {
  position: relative;
  float: right;
  margin-right: 5px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
#top-search-icon-mobile {
  color: #888;
  background-color: transparent;
}
#top-search-icon-mobile.btn
{
  font-size: 18px;
  text-align: center;
  width: 40px;
  padding: 5px 5px;
  height: 35px;
  color: #888 !important;
  border-color: #ddd;
}
#top-search-icon-mobile.btn:focus {
  outline: 0;
  background-color: #ddd;
  border: 1px solid #ddd;
}

/* START SEARCH EXPAND/COLLAPSE */
.search-container {
  width: 100%;
  top: 50px;
  position: absolute;
}
.search-container div {
  width:100%;
}
.search-container .search-header {
  padding: 2px;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  right: 10px;
  width: 42px;
  height: 36px;
  top: -45px;
}
.search-container .search-content {
  display: none;
  padding: 15px 15px;
  position: relative;
  float: left;
  background-color: #ebebeb;
  border-top: 1px solid #ccc;
}
.search-content:after
{
  content: "";
  display: block;
  background-color: #000;
  position: absolute;
  top: 0px;
  z-index: -1;
  height: 1500px;
  width: 100%;
  opacity: 0.5;
  left: 0px;
}
.search-container input.form-control.mrcgo-search.ui-autocomplete-input
{
  height: 40px;
}
.search-container button#top-search-icon
{
  padding: 9px 12px;
}
/* END SEARCH EXPAND/COLLAPSE */

/* START MOBILE MENU STYLES */
#navbar.navbar-collapse.collapse.in ul.nav.navbar-nav
{
  margin: 0px -15px;
}
#navbar.navbar-collapse.collapse.in ul.nav.navbar-nav li.dropdown,
#navbar.navbar-collapse.collapse.in ul.nav.navbar-nav li.nav-item.dropdown
{
  border-bottom: 1px solid #ccc;
}
#navbar.navbar-collapse.collapse.in ul.nav.navbar-nav li a.dropdown-toggle
{
  padding-top: 15px;
  padding-bottom: 15px;
}
#navbar.navbar-collapse.collapse.in ul.nav.navbar-nav.navbar-right
{
  margin: 7.5px 0px;
}
#navbar.navbar-collapse.collapse.in .caret {
  display: block;
    width: 0;
    height: 0;
  margin-top: 6px;
  border-top: 6px dashed;
  border-top: 4px solid \9;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  color: #828181;
  float: right;
  margin-right: 10px;
}
/* END MOBILE MENU STYLES */

#top-search-icon {
  color: #fff !important;
  background-color: #828081;
  border: 1px solid #828181;
}

.top-icons-container {
  padding-right: 45px;
  float: right;
}

#location-selector {
  display: block;
  float: left;
  margin-right: 15px;
}

#location-selector button {
  border-radius: 0px;
  border: 0px;
}

#location-selector button,
#location-selector button:active,
#location-selector button:hover,
#location-selector button:focus {
  background-image: url(../images/icons/us.png);
  background-repeat: no-repeat;
  background-position: left;
}

#location-selector .header {
  font-size: 12px;
  color: #000;
  text-align: left;
  font-weight: 900;
  padding: 10px 15px;
}

#location-selector .header button,
#location-selector .header button:active,
#location-selector .header button:hover,
#location-selector .header button:focus {
  background-image: none;
  background-color: transparent;
  position: absolute;
  right: 10px;
  top: 10px;
  color: #999;
}

#location-selector a {
  font-size: 11px;
  color: #000;
  text-align: center;
  width: 50%;
  display: block;
  float: left;
  margin-bottom: 15px;
}

#location-selector a img {
  display: block;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

#location-selector .dropdown-menu {
  left: -126px;
  top: 35px;
  width: 290px;
  padding: 15px 0px;
}

#location-selector .dropdown-menu:before {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  transform: rotate(45deg);
  content: '';
  background-color: inherit;
  left: 50%;
  top: -0.9rem;
  margin-left: -0.5rem;
  border-top: 1px solid #999;
  border-left: 1px solid #999;
}

.flag-english-us-icon {
  background-image: url(../images/icons/us.png);
  background-repeat: no-repeat;
  background-position: left;
  width: 40px;
  height: 22px;
  display: block;
  float: left;
  margin-right: 15px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.flag-belgium-icon {
  background-image: url(../images/icons/be.png) !important;
  background-repeat: no-repeat;
  background-position: left;
  width: 40px;
  height: 22px;
  display: block;
  float: left;
  margin-right: 15px;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.shopping-cart-icon {
  background-image: url(../images/icons/cart-icon.png);
  background-repeat: no-repeat;
  background-position: left;
  width: 30px;
  height: 22px;
  display: block;
  float: left;
  margin-right: 15px;
  background-size: 29px;
}

.login-icon {
  background-image: url(../images/icons/user-icon.png);
  background-repeat: no-repeat;
  background-position: left;
  width: 40px;
  height: 22px;
  display: block;
  float: left;
  margin-right: 15px;
  background-size: 29px;
  padding-left: 30px;
  color: #666;
  font-size: 14px;
}

.request-quote-nav-cta {
  margin-top: 10px;
  margin-right: 25px;
  width: 130px;
}

/* START CUSTOM SPACING OPTIONS */
.padding-top-5 {
  padding-top: 5px;
}
.padding-top-10 {
  padding-top: 10px;
}
.padding-top-15 {
  padding-top: 15px;
}
.padding-bottom-5 {
  padding-bottom: 5px;
}
.padding-bottom-10 {
  padding-bottom: 10px;
}
.padding-bottom-15 {
  padding-bottom: 15px;
}
.padding-right-5 {
  padding-right: 5px;
}
.padding-right-10 {
  padding-right: 10px;
}
.padding-right-15 {
  padding-right: 15px;
}
.padding-left-5 {
  padding-left: 5px;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-left-15 {
  padding-left: 15px;
}
/* END CUSTOM SPACING OPTIONS */

/* START LOGIN MODAL STYLES */
#loginModal .input-group {
  width: 100%;
}

#loginModal .input-group {
  margin-bottom: 10px;
}

#loginModal .glyphicon {
  font-size: 14px;
  color: #666;
}

#loginModal span.input-group-addon {
  background-color: transparent;
  border-right: 0px;
  position: absolute;
  z-index: 99999;
  border: 0px;
}

#loginModal input.form-control {
  font-size: 16px;
  width: 100%;
  padding-left: 40px;
  box-shadow: none;
  border-radius: 8px;
}

#loginModal .btn-primary {
  width: 100%;
  height: 45px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#loginModal .forgot-password-link {
  display: block;
  padding: 11px;
  border: 1px solid #215263;
  border-radius: 5px;
  width: 95%;
  text-align: center;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#loginModal hr {
  background-color: #AAAAAA;
  height: 1px;
  border: 0px;
}

#loginModal .single-sign-in-text {
  font-size: 14px;
  font-weight: 900;
  background-color: #fff;
  max-width: 200px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -30px;
}

#loginModal .ms-signin {
  width: 100%;
  max-width: 215px;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#loginModal .register-link {
  font-size: 14px;
  font-weight: 600;
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* END LOGIN MODAL STYLES */

/* START BANNER/VIDEO STYLES */
#mrcgo-banner {
  position: relative;
  display: block;
  width: 100%;
  height: 350px;
  overflow: hidden;
  background-color: #fff;
  margin-bottom: 20px;
}

#mrcgo-banner #message-container {
  position: absolute;
  max-width: 700px;
  height: auto;
  z-index: 1000;
  color: #fff;
  top: 75px;
  left: 50px;
}

#mrcgo-banner #headline {
  font-family: Oswald,sans-serif;
  font-size: 44px;
  text-shadow: 2px 2px 8px rgb(0 0 0 / 75%);
  font-weight: 900;
  padding-bottom: 15px;
}

#mrcgo-banner #headline:after {
  content: "";
  background-color: #CD2028;
  display: block;
  max-width: 108px;
  height: 7px;
}
#mrcgo-banner #headline span {
  font-weight: 300;
}

#mrcgo-banner #sub-text {
  font-size: 16px;
  text-shadow: 2px 2px 8px rgb(0 0 0 / 75%);
}

#video-player-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 999;
  opacity: 0.5;
}

#mrcgo-banner video {
  width: 100% !important;
  min-width: 1200px;
  height: auto !important;
  background-color: #fff;
  position: absolute;
  top: -20%;
}

/* END BANNER/VIDEO STYLES */

/* START PRODUCTS/SECTORS HOME SECTION */
#products-and-sectors-container .thumbnail {
  border-radius: 0px;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 25%);
  overflow: hidden;
}

.thumbnail-label {
  text-align: center;
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #635F60;
  margin-left: -5px;
  margin-right: -5px;
  background-color: #EBEBEB;
  min-height: 60px;
  padding: 5px 10px;
  margin-bottom: -5px;
  margin-top: 15px;
}

.thumbnail-label.single {
  line-height: 3em;
  /* middle display for single labels */
}

.headline-content-area {
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 15px;
  text-align: center;
  color: #635F60;
  margin-top: 35px;
  margin-bottom: 25px;
}

.headline-content-area:after {
  content: "";
  background-color: #CD2028;
  display: block;
  max-width: 125px;
  height: 7px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.thumbnail-label-sectors {
  text-align: center;
  text-shadow: 2px 2px 8px rgb(0 0 0 / 75%);
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #FFF;
  min-height: 60px;
  margin-bottom: -5px;
  position: absolute;
  width: auto;
  top: 10px;
  z-index: 1000;
  left: 30px;
  right: 30px;
}

.thumbnail-label-sectors.single {
  line-height: 3em;
  /* middle display for single labels */
}

.thumbnail-sector-overlay {
  position: absolute;
  top: 5px;
  left: 20px;
  right: 20px;
  width: auto;
  height: 60px;
  background-color: #000;
  z-index: 999;
  opacity: 0.5;
  display: block;
}

/* END PRODUCTS/SECTORS HOME SECTION */

/* START FOOTER BANNER/VIDEO STYLES */
#footer-video-container {
  position: relative;
  color: #fff;
  overflow: hidden;
  height: 600px;
  margin-top: 50px;
}
#footer-video-container-fullscreen
{
  display: none;
  position: absolute;
  width: 0px;
  height: 0px;
  top: 0;
  left: 0;
}
#close-fullscreen-video
{
  z-index: 2147483647 !important;
  position: absolute;
  top: 20px;
  right: 20px;
}

#footer-video-container video {
  width: 100% !important;
  min-width: 1200px;
  height: auto !important;
  background-color: #fff;
  position: absolute;
  top: -1%;
}

#footer-video-container #footer-message-container {
  position: absolute;
  height: auto;
  z-index: 1000;
  color: #fff;
  top: 75px;
  width: 100%;
  text-align: center;
}

#footer-video-message {
  font-family: Oswald,sans-serif;
  font-size: 55px;
  text-shadow: 2px 2px 8px rgb(0 0 0 / 75%);
  font-weight: 600;
  padding-bottom: 15px;
  text-transform: uppercase;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}
#footer-video-message sup {
  font-weight: 100;
  font-size: 27px;
}

#footer-video-message:after {
  content: "";
  background-color: #CD2028;
  display: block;
  max-width: 295px;
  height: 7px;
  margin-left: 100px;
}

button#play-footer-video-modal {
  background-color: transparent;
  border: 0px;
  font-size: 60px;
  text-shadow: 2px 2px 8px rgb(0 0 0 / 75%);
  margin-top: 10px;
  opacity: 0.6;
  color: #fff !important;
}

button#play-footer-video-modal:hover {
  opacity: 1.0;
}

button#play-footer-video-modal:focus {
  border: 0px;
  outline: transparent;
}

#footer-background-image {
  width: 100%;
  height: auto;
}

#footer-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 999;
  opacity: 0.5;
}

#footerVideoModal video {
  width: 100% !important;
  height: auto !important;
}

/* END FOOTER BANNER/VIDEO STYLES */

/* START FOOTER STYLES */
#mrcgo-footer {
  min-height: 400px;
  background-color: rgb(51, 55, 64);
  color: #fff;
  padding: 5em 2em;
  font-size: 14px;
}

#mrcgo-footer h2 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 0px;
}

#mrcgo-footer #footer-logo {
  width: 100%;
  max-width: 180px;
}

#mrcgo-footer #slogan {
  font-style: italic;
}

#mrcgo-footer #address span {
  display: block;
}

#mrcgo-footer #support-links {
  padding-left: 0px;
  line-height: 2em;
}

#mrcgo-footer #support-links li {
  list-style: none;
}

#mrcgo-footer #support-links li a {
  color: #AFD2DF;
}

#mrcgo-footer .social-icons {
  padding-left: 30px;
}

#mrcgo-footer .social-icons li {
  list-style: none;
  padding-bottom: 10px;
}

#mrcgo-footer .social-icons li a img {
  width: 35px;
  height: 35px;
  display: block;
}

#mrcgo-footer .change-location-section {
  padding-left: 0px;
  display: inline-block;
}

#mrcgo-footer .change-location-section li {
  list-style: none;
  padding-right: 15px;
  padding-bottom: 15px;
  float: left;
}

#mrcgo-footer .change-location-section li a img {
  width: 100%;
  max-width: 40px;
  height: auto;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

#mrcgo-footer .last-col {
  padding-right: 0px;
  padding-left: 0px;
}

#mrcgo-footer .copyright-info {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  font-size: 12px;
  border-top: 1px solid #635F60;
  margin-top: 25px;
}

#mrcgo-footer .copyright-info a {
  color: #AFD2DF;
  font-size: 10px;
}

/* END FOOTER STYLES */

/******** START MOBILE CSS MEDIA QUERIES ********/

@media only screen and (min-width: 1024px) {

  .thumbnail>img, .thumbnail a>img.product-item-image {
    width: 60%;
  }
  img.sector-item-image
  {
    width: 100%;
  }
}

@media (max-width: 1024px) {

  #footer-video-message {
    margin-top: 60px;
    font-size: 55px;
    max-width: 520px;

  }

}

@media (max-width: 767px) {
  body {
    padding-top: 50px;
  }

  .desktop-bar {
    display: none;
  }
  .desktop-tablet-only
  {
  display: none !important;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    background-color: #fff;
  }

  .top-icons-container {
    float: left;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
/*
  .request-quote-nav-cta {
    margin-top: 0px;
    margin-bottom: 15px;
    margin-right: 0px;
    width: 100%;
  }
*/
  .request-quote-nav-cta {
    margin-top: 0px;
    /* margin-bottom: 15px; */
    margin-right: 0px;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    border: 0px;
    border-radius: 0px;
    padding: 15px;
  }
  #mrcgo-footer .social-icons {
    padding-left: 0px;
  }

  #mrcgo-footer .social-icons li {
    display: inline-block;
  }

  #mrcgo-footer .social-icons li a img {

    float: left;
  }

  .container-fluid>.navbar-header {
    border-bottom: 1px solid #AAAAAA;
    background-color: #fff;
  }

  .request-quote-mobile {
    margin: 0px;
  }

  .dropdown-menu li {
    padding: 5px 0px;
  }


  #mrcgo-footer .col-xs-6 {
    margin-bottom: 20px;
    padding-top: 20px;
  }

  #mrcgo-footer .copyright-info {
    padding-top: 30px;
    border-top: 1px solid #666;
    font-size: 10px;
  }

}

@media (max-width: 768px) {

  /* CSS TO FIX BANNER ISSUE */
  #mrcgo-banner {
    height: 275px;
  }

  .customer-shopping-cart a span,
  .customer-information a span,
  .customer-branch a span
  {
    font-size: 10px;
  }
  a.logout-icon span
  {
    margin-top: -10px;
  }
  .customer-branch a span
  {
    margin-top: 10px;
  }
  .dropdown-menu .dropdown-submenu
  {
    width: 430px;
  }
  #mrcgo-banner #message-container {
    max-width: 490px;
  }

  #mrcgo-banner #headline {
    font-size: 34px;
  }
  #mrcgo-banner #headline:after
  {
    max-width: 78px;
  }

  #mrcgo-banner #sub-text {
    font-size: 14px;
  }

  #mrcgo-banner video {
    width: 750px !important;
    left: -30%;
    top: -30%;
  }
  /* START CONTENT AREA STYLES */
  .headline-content-area {
    font-size: 22px;

  }
  .headline-content-area:after {
    max-width: 125px;
  }

  .thumbnail-label {
    font-size: 12px;
    padding-top: 10px;
  }

  .thumbnail-label.single {
    line-height: 1.5em;
    padding-top: 15px;
  }

  .thumbnail-label-sectors {
    font-size: 12px;
    left: 20px;
    right: 25px;
    padding-top: 5px;
  }

  .thumbnail-label-sectors.single {
    line-height: 1.5em;
    padding-top: 15px;
  }

  /* END CONTENT AREA STYLES */

  #footer-video-container {
    height: 340px;
  }

  #footer-video-container #footer-message-container {
    top: 4em;
  }
  #footer-video-container video {
    width: 100% !important;
    min-width: 750px;
  }

  #footer-video-message {
    font-size: 37px;
    max-width: 340px;
    padding-bottom: 0px;
    margin-top: 20px;
    
  }
  #footer-video-message sup {
    font-size: 18px;
  }
  

  #footer-video-message:after {
    max-width: 195px;
    margin-left: 65px;

  }

  button#play-footer-video-modal {
    font-size: 46px;
  }

}

@media (min-width: 768px) {
  .mrcgo-logo-mobile {
    display: none;
  }

  .mobile-view-items {
    display: none !important;
  }
  .menu-icons-mobile
  {
    display: none !important;
  }
}

@media (max-width: 426px) {
  body.logged-in 
  {
    padding-top: 75px;
  }

  #mrcgo-banner #headline:after
  {
    max-width: 168px;
  }
  #mrcgo-banner #headline {
    font-size: 28px;
  }
/* START MRCGO ALER STYLES */
body#mrcgo-alert-on {
  padding-top: 100px;
}
body#mrcgo-alert-on .search-container {
  top: 100px;
}
#mrcgo-alert-on .mrcgo-alert
{
  height: 50px;
}
.mrcgo-alert .container
{
  height: 50px;
}
.mrcgo-alert .carousel-caption
{
  padding: 0px;
  left: 5%;
  right: 5%;
  padding-top: 3px;
  font-size: 12px;
}
.mrcgo-alert .carousel-control .glyphicon-chevron-right,
.mrcgo-alert .carousel-control .glyphicon-chevron-left
{
  font-size: 14px;
}
.mrcgo-alert .carousel-control.right
{
padding-right: 35px;
}
.mrcgo-alert .carousel-control.left
{
padding-left: 35px;
}
/* END MRCGO ALER STYLES */

  #quick-order-form .col-md-8
  {
    width: 80%;
    float: left;
  }
  #quick-order-form .col-md-4
  {
    width: 20%;
    float: left;
  }
  label {
    font-size: 12px;
}
span.selected-language-label
{
  color: #828181;
}
span.change-language-label
{
  color: #828181;
  font-size: 12px;
  font-weight: 100;
}
.language-input-container
{
  width: 100%;
  display: inline-block;
  padding: 20px 15px 0px 10px;
}
.language-input
{
  width: 30%;
  float: left;
  display: block;
  margin-right: 5px;
}
.language-input label
{
  font-size: 14px;
}
.language-input input[type="radio"]
{
  width: 14px;
  height: 14px;
  margin-right: 2px;
}
    /* START CSS FOR SUB-MENU ITEMS - JQUERY ACCORDION */
  #products-sub-item-accordion h3
  {
    color: #2D5F71;
    padding: 12px 15px 12px 25px;
    line-height: 20px;
    border-bottom: 1px solid #EBEBEB;
    border-top: 0px;
    background-color: transparent;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
  }
  #products-sub-item-accordion .ui-accordion-content
  {
    padding: 0px;
  }
  #products-sub-item-accordion ul
  {
    padding: 0px;
  }
  #products-sub-item-accordion ul li
  {
    list-style: none;
    padding: 10px 0px 10px 40px;
  }
    /* END CSS FOR SUB-MENU ITEMS - JQUERY ACCORDION */

  .mobile-view-items span.light 
  {
      font-weight: 100;
  }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    padding-bottom: 100px;
  }
  .navbar-nav .open .dropdown-menu
  {
    padding: 0px;
  }
  .dropdown-menu li 
  {
    padding: 8px 0px;
    border-bottom: 1px solid #EBEBEB;
  }
  .dropdown-menu li:last-child
  {
    border-bottom: 0px;
  }
  .menu-icons-mobile
  {
    color: #2D5F71;
    font-size: 21px;
    margin-right: 15px;
    width: 30px;
    text-align: center;
  }
  .flag-display-mobile {
    background-image: url(../images/icons/us.png);
    background-repeat: no-repeat;
    background-position: left;
    width: 30px;
    height: 17px;
    display: block;
    float: left;
    margin-right: 15px;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    background-size: 100%;
  }
  .flag-us-mobile {
    background-image: url(../images/icons/us.png);
  }
  .flag-au-mobile {
    background-image: url(../images/icons/au.png);
  }
  .flag-be-mobile {
    background-image: url(../images/icons/be.png);
  }
  .flag-ca-mobile {
    background-image: url(../images/icons/ca.png);
  }
  .flag-fi-mobile {
    background-image: url(../images/icons/fi.png);
  }
  .flag-fr-mobile {
    background-image: url(../images/icons/fr.png);
  }
  .flag-de-mobile {
    background-image: url(../images/icons/de.png);
  }
  .flag-gb-mobile {
    background-image: url(../images/icons/gb.png);
  }
  .flag-sa-mobile {
    background-image: url(../images/icons/sa.png);
  }
  .flag-nl-mobile {
    background-image: url(../images/icons/nl.png);
  }
  .flag-nz-mobile {
    background-image: url(../images/icons/nz.png);
  }
  .flag-no-mobile {
    background-image: url(../images/icons/no.png);
  }
  .flag-sg-mobile {
    background-image: url(../images/icons/sg.png);
  }
  .flag-ae-mobile {
    background-image: url(../images/icons/ae.png);
  }
  span.caret.menu-link
  {
    transform: rotate(270deg);
  }
  /* TRANSFORM CARET WHEN MENU IS EXPANDED */
  .nav-item.dropdown.open span.caret,
  .dropdown.open span.caret
  {
    transform: rotate(180deg);
  }
  .request-quote-nav-cta {
    margin-top: 15px;
  }

  #mrcgo-banner #message-container {
    max-width: 310px;
    top: 20%;
    left: 10%;
  }

  #mrcgo-banner video {
    left: -60%;
    top: -30%;
  }

  /* START CONTENT AREA STYLES */
  .headline-content-area {
    font-size: 20px;
    margin-top: 15px;
  }

  .headline-content-area:after {
    max-width: 105px;
  }

  .thumbnail-label {
    font-size: 12px;
    padding-top: 10px;
  }

  .thumbnail-label.single {
    line-height: 1.5em;
    padding-top: 20px;
  }

  .thumbnail-label-sectors {
    font-size: 12px;
    padding-top: 5px;
    left: 20px;
    right: 20px;
  }

  .thumbnail-label-sectors.single {
    line-height: 1.5em;
    padding-top: 15px;
  }

  /* END CONTENT AREA STYLES */

  #loginModal .col-xs-6
  {
    width: 100%;
  }
  #loginModal .btn-primary
  {
    margin-top: 5px;
    margin-bottom: 0px;
  }
  #loginModal .forgot-password-link
  {
    width: 100%;
    text-align: center;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    border: 1px solid #215263;
    border-radius: 5px;
  }
  #loginModal .ms-signin 
  {
    max-width: 180px;
}
#loginModal .single-sign-in-text {
  font-weight: 600;
}
#loginModal .register-link {
  font-size: 13px;
  text-align: center;
  width: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  #footer-video-container {
    height: 300px;
  }

  #footer-video-container #footer-message-container {
    top: 2.5em;
  }

  #footer-video-message {
    font-size: 33px;
    max-width: 235px;
  }

  #footer-video-message:after {
    max-width: 180px;
    margin-left: 20px;

  }
  #footer-video-message sup {
    font-size: 16px;
  }
  
  button#play-footer-video-modal {
    font-size: 35px;
    margin-top: 10px;
  }

  #mrcgo-footer {

    padding: 3em 2em;
  }

  #mrcgo-footer .col-sm-3 {
    width: 100%;
    margin-bottom: 30px;
    border-bottom: 1px solid #666;
    padding-bottom: 15px;
  }

  #mrcgo-footer .last-col {

    padding-left: 15px;
  }

  #mrcgo-footer .social-icons {
    padding-left: 0px;
  }

  #mrcgo-footer .social-icons li {
    display: inline-block;
  }

  #mrcgo-footer .social-icons li a img {

    float: left;
  }

  #mrcgo-footer .copyright-info {

    padding-top: 0px;
    border: 0px;

  }

}

/* START MRCGO SPINNER/LOADING SCREEN */

.loading-screen-container
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  margin-top: 15em;
}
.loading-spinner-wrap
{
  position: relative;
  width: 130px;
  height: auto;
  z-index: 9999999;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgb(0 0 0 / 25%);
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* START SPINNER  */
.spinner-mrcgo {
  width: 60px;
  height: 60px;
  animation: spin-mrcgo-hexagon 0.9s linear infinite;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 9999999;
}
.spinner-mrcgo img {
  width: 60px;
  height: 60px;
}

@keyframes spin-mrcgo-hexagon {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* END SPINNER */

.loading-message
{
  position: relative;
  margin-left: auto;
  margin-right: auto;
  z-index: 9999999;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 2px 2px 8px #fff;
  color: #635F60;
}
.loading-overlay
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999998;
  background: #FFF;
  opacity: .6;
}
/* END MRCGO SPINNER/LOADING SCREEN */

@media (max-width: 376px) {

  /* START CONTENT AREA STYLES */
  .thumbnail-label {
    padding-top: 15px;
  }

  .thumbnail-label.single {
    padding-top: 15px;
  }

  .thumbnail-label-sectors {
    right: 23px;
  }

  /* END CONTENT AREA STYLES */
}



@media (max-width: 320px) {

  #mrcgo-banner #message-container {
    max-width: 250px;
  }

  /* START CONTENT AREA STYLES */
  .thumbnail-label-sectors {
    padding-top: 0px;
  }

  .thumbnail-label-sectors.single {
    line-height: 1.3em;
    padding-top: 14px;
  }

  /* END CONTENT AREA STYLES */
  #footer-video-container {
    height: 260px;
  }
  #footer-video-message {
    font-size: 27px;
    max-width: 235px;
  }

  #footer-video-message:after {
    max-width: 150px;
    margin-left: 35px;

  }
  #footer-video-message sup {
    font-size: 16px;
  }

}

/******** END MOBILE CSS MEDIA QUERIES ********/